<html>

    <head>Brand
    <link rel="stylesheet" href="Login.css">

    </head>
    <body>
    
        <div className="box ">
            <form id="form">
                <label>Login</label><br>
                <label>Username</label><br>
                <input
                    type="text"
                    name="Username"
                    placeholder="Enter email or phone"
                /><br>
                <label>Password</label><br>

                <input
                    type="password"
                    name="password"
                    placeholder="Enter password"
                /><br>
                <button>Login</button><br>
                <span >Don’t have account?  </span><a  >Sign UP</a><br>
            </form>
        </div>
    
    </body>

</html>
#3f51b5
960*600