<html>

    <head>Brand
    <link rel="stylesheet" href="Login.css">

    </head>
    <body>
        
    
        <div className="box ">
            <form id="form">
                <label>Sign</label><br>
                <label>Name</label><br>
                <input
                    type="text"
                    name="name"
                    placeholder="Enter Name"
                /><br>
                <label>Email</label><br>

                <input
                    type="text"
                    name="email"
                    placeholder="Enter Email"
                /><br>

                <label>Phone</label><br>

                <input
                    type="text"
                    name="phone number"
                    placeholder="Enter Phone number"
                /><br>

                <label>Password</label><br>

                <input
                    type="password"
                    name="email"
                    placeholder="Enter password"
                /><br>

                <button>SignUp</button><br>
                <span >Already have an account?</span><a >Login{{onClick={app.s}}}</a><br>            
            </form>
        </div>
    
    </body>

</html>